<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>myFrame</title>
    <!-- Inserting template -->
    <!-- <script type="text/html" id="taskTmpl">
      <article class="taskItem">
        <input type="text" name="edits" placeholder="<%= tasks =%>" class= "hidden">
        <h2><%= task =%></h2>
      </article>


    </script> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">

  </head>
  <body>
    <header>
        myFrame
    </header>
    <main>
      <!-- <nav>

      </nav> -->

      <div class="wrapper">
        <section>
          <h1>myFrames</h1>
          <div class="container">
            <div class="showmyFrames">
              <form class="" action="index.html" method="post">
                <input type="button" name="name" value="">
                <input type="button" name="name" value="">
                <input type="button" name="name" value="">
                <button type="button" name="likeMe">Like Me</button>
              </form>
            </div>
        </section>
      </div>

    <footer>
      <section class="footer-bottom">
        <span>
        2015 &copy; Jared Bilton. All rights reserved.
        </span>
      </section>
    </footer>
    </main>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>
